html
  head
    title='Testing task Evercode'
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x' crossorigin='anonymous')
  body
    h1(class='h1')= 'Dashboard'
    div(class='container')
      button(class='btn-primary')= 'Add currency'
      div(class='container border')
        h3(class='h3')= '' 
        button(class='btn-danger')= 'Delete'
        button(class='btn-warning')= 'Update'
    
    template#card-currency
      div(class='container border')
        h3(class='h3')= '' 
        button(class='btn-danger')= 'Delete'
        button(class='btn-warning')= 'Update'
    script
      include scripts/api/request.js       
    script
      include scripts/index.js

